/*
Theme Name: RCI Global
Author: RCI
Version: 1.0
*/  
.img_menu
{
    background: url(../Images/css-sprites.gif) -1695px -118px;
    display: block;
    width: 25px;
    height: 5px;
	border: none;
	margin-top: 2px;
}
.img_menu:first-child{
	margin-top: 10px;
}
.newscenter_js {
	display: none;
}
.rcigs_about_js,
.bynumber_js {
	display: none;
}
.rci_consulting_js {
	display: none;
}
.rsi_consulting_js {
	display: none;
}

/*.newscenter_js {
	visibility: inherit;
	display: block;
	z-index: 1000;
}*/

/* footer */
.footer-title{
	font-family: 'Franklin Gothic Demi', 'Franklin Gothic Medium', 'Franklin Gothic';
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
	color: #000000;
	text-align: left;
}

.site-footer .row-footer-right-title .col-lg-2{
	padding: 0;
}
.right-title{
	font-family: 'Arial';
	font-size: 14px;
}
.site-footer ul>li{
	display: inline-block;
	margin-left: 7%;
}
.col-right-title{
	height: 60px;
	padding-top: 1.5%;
}
.row-container{
	height: 60px;
}
.title-footer-contact{
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-size: 14px;
}
.row-contact-footer{
	margin-top: 15px;
}
.sub-footer-contact{
	font-family: 'Arial';
    font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-align: left;
}
.footer-content{
	background-color: #EBEBEB;
	padding-top: 40px;
	padding-bottom: 20px;
	/* margin-bottom: 20px; */
}
.site-footer .wrap-social{
	padding-top: 20px;
	background-color: white;
}

.col-address{
	padding-top: 30px;
}
.img_rci_footer,
.img_rsi_footer{
	width: 30%;
    height: auto;
}
.img_verticleline_footer{
	width: 6px;
	height: 51px;
}
@media (min-width: 768px) and (max-width: 992px){
	.col-right-items{
		text-align: center;
		padding-right: 0;
	}
.site-footer ul>li:first-child{
	margin-left: 0;
}
.footer-title{
	text-align: center;
}
}
@media only screen and (max-width: 600px) {
	.footer-content{
		background-color:unset;
		padding-top: 40px;
		padding-bottom: 20px;
		/* margin-bottom: 20px; */
	}
	.col-address{
		padding-top: 0px;
	}
	.col-right-items{
		text-align: center;
		padding-left: 0;
	}
	.site-footer ul>li:first-child{
		margin-left: 0;
	}
	.col-right-title{
		padding-left: 0;
	}
	.footer-title{
		text-align: center;
	}
	.col-rsi-rci{
		padding-left: 0;
		text-align: center !important;
	}
}