.rcigs-about 
#image-rci-rsi{
    width: 50%;
    height: auto;
    margin-top: 50px;
}
.rcigs-about .rci-rsi-description{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    margin-top: 30px;
    line-height: 1.2;
}
.rcigs-about .col-rsi-rci-about{
    border: 1px solid #ccc;
    box-shadow: 5px #ccc;
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
    padding-bottom: 100px;
    margin-top: 110px;
}
.rcigs-about .rgs-box-title{
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1E1E1E;
    text-align: center;
    background: white;
    width: 50%;
    margin: auto;
}
.rci-text-title{
    margin-top: -20px;
    text-align: center;
}
.by_number{
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.768627450980392), rgba(0, 0, 0, 0.768627450980392) ), 
    url('../Images/u270.jpg');
    background-repeat: no-repeat;
    background-size: 100% 470px;
    padding: 0;
    margin-top: 50px;
    color: white;
}
.title-by-the-numbers{
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 35px;
}
.number{
    font-family: 'Lato Hairline Regular', 'Lato Hairline';
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
}
.fields{
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}
.field-descriptions{
    font-family: 'Calibri';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}
.col-line{
    padding-top: 60px;
}
.rsi_linex{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 70px;
}
.title-founder{
    font-size: 28px;
    color: #1E1E1E;
    text-align: center;
}
.founder-name{
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.about-founder{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    color: #666666;
    text-align: center;
    line-height: 1.2;
    margin-top: 25px;
}
.founder-photo{
    margin-top: 20px;
}
.col-rcigs-about-desciption{
    padding: 0 8%;
}


/**custom responsive **/
 /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
   

}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .rcigs-about .rgs-box-title {
        font-family: 'Calibri Bold', 'Calibri';
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
        color: #1E1E1E;
        text-align: center;
        background: white;
        width: 80%;
        margin: auto;
    }
    .rcigs-about 
     #image-rci-rsi {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .number {
        font-size: 40px;
    }
    .fields {
        font-size: 15px;
    }
    .col-line {
        padding-top: 34px;
    }
    .titlle-founder {
        font-size: 24px;
    }
    .rcigs-about .rgs-box-title {
        font-size: 26px;
    }
}