body{
    margin: 0 auto;
}
.img_blog {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(http://localhost:8089/RCI%20Global/wp-content/uploads/2019/01/u153.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}
.back-img-blog {
    width: 100%;
    height: 740px;
}
.back-imgsub-blog {
    width: 100%;
    height: 400px;
}
.back-imgchild-blog{
    width: 100%;
    height: 247px;
}
.child-blog {
    width: 49%;
    height: 260px;
}
.img-list-post {
    width: 100%;
    height: auto;
}

.head-blog{
    background-color: #F2F2F2;
    padding: 15px 0;
}

.head-blog .navbar-default{
	border: none;
	background: transparent;
	margin-bottom: 0;
}

@media (max-width: 768px) {

}
@media (min-width: 768px) and (max-width: 992px) {

}
@media (min-width: 992px ) and (max-width: 1200px) {

}
@media (min-width:1200px) {

}