.rcigs-page .img_backconsulting {
    background:linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392)), 
    url('../Images/u77.jpg');
    background-repeat: no-repeat;
	width: 100%;
	height:716px;
    background-size: 100%;
}
#background_rci_consulting {
    display: none;
}
.rci-consulting-description{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
#img-technology{
    width: 42px;
    height: 42px;
    /* vertical-align: middle; */
}
#img-omnichannel{
    width: 42px;
    height: 42px;
}
#img-etailing{
    width: 38px;
    height: 38px;
}
#img-advance{
    width: 38px;
    height: 38px;
}
.img-title{
    font-family: 'Calibri';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF; 
}
.img-title {
    display: inline-block;
    margin-left: 10px;
}
#img-rciconsulting{
    width: 100%;
    height: auto;
    z-index: -1;
    /* margin-top: 15%; */
}
.image-border{
    width: 65px;
    height: 65px;
    background-image: url(../Images/u91.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
}
.col-image-with-title{
    padding-top: 9%;
}
.row-technology{
    margin-bottom: 20px;
}
.row-rci-bottom{
    margin: 0;
}
.col-rci-img-group{
    padding-left: 0;
    margin-top: 3px;
}
#image-blue-triangle{
    width: 315px;
    height: 209px;
    margin-top: -208px;
    margin-left: 255px;
    z-index: 1;
}
.rci-learn-more-button{
    background-color: rgba(9, 65, 94, 1) !important;
    margin-top: 3%;
}
.col-rci-description{
    padding-left: 5%;
}

@media only screen and (min-width: 1500px){
.rcigs-page .img_backconsulting {
    height: 716px;    
}
#img-rciconsulting{
    margin-top: -71px;
}
.col-rci-descript{
    padding-left: 5% !important;
    margin-top: 2px;
}
}
/**custom responsive */
/* / 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
/ */
@media (min-width: 1281px) and (max-width: 1499px){
    .col-rci-desciption{
        padding-top: 5px;
    }
    .col-rci-img-group{
        margin-top: -4px;
    }    
    .rcigs-page .img_backconsulting {
        height:716px;
    }
    #img-rciconsulting{
        margin-top: 19%;
    }
    .col-image-with-title{
        padding-top: 15%;
    }
    .col-rci-descript{
        padding-left: 5% !important;
        margin-top: -2%;
    }
   }
/* / 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
/ */
@media (min-width: 1023px) and (max-width: 1280px) {
    #img-rciconsulting {
        width: 100%;
        height: auto;
        z-index: -1;
        margin-top: 10%;
    }
    .rci-learn-more-button {
        margin-top: 2%;
    }
    .col-image-with-title {
        padding-top: 7%;
    }
    .img_techno {
        margin-bottom: 2%;
    }
    .img_etail {
        margin-bottom: 2%;
    }
    .rcigs-page .img_backconsulting {
        height: auto;
    }
}
/* / 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
/ */
@media (min-width: 768px) and (max-width: 1020px) {
    .rcigs-page .img_backconsulting {
        height: auto;
    }
    .col-rci-descript{
        margin-top: 42%;
    }
    #img-rciconsulting{
        margin-top: 45%;
    }
   
}
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .rcigs-page .img_backconsulting {
        height: auto;
    }

  }
  @media (max-width: 767px){
    #img-rciconsulting {
        width: 94%;
        height: auto;
        z-index: -1;
        margin-top: 5%;
        margin-left: 4%;
    }
    .col-image-with-title {
        padding-top: 5%;
        margin-left: 3%;
    }
    .rcigs-page .img_backconsulting {
        height: auto;
    }
    
  }
/* / 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
/ */
@media (min-width: 320px) and (max-width: 480px) {
    .rcigs-page .img_backconsulting {
        background:linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392));
        background-repeat: no-repeat;
        width: 100%;
        height:auto;
        background-size: cover;
    }
    #background_rci_consulting {
        display: block;
        width: 100%;
        margin-top: 4%;
    }
    #img-rciconsulting {
        width: 94%;
        height: auto;
        z-index: -1;
        margin-left: 5%;
        margin-top: 10%;
    }
    
    .rci-learn-more-button {
        margin-top: 2%;
        margin-left: 5%;
    }
    .advnace-title {
        width: 70%;
    }
    .rci-consulting-description {
        padding: 5%;
        margin-top: 3%;
    }
    .img_techno {
        margin-bottom: 3%;
    }
    .col-rci-description {
        padding-left: 0%;
        margin-top: 0%;
    }
    .col-image-with-title{
        margin-left: 0;
        padding-left: 3%;
        padding-bottom: 3%
    }
    .row-technology{
        margin-bottom: 3%;
    }
}