.contact_background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(../Images/u205.png);
    background-size: cover;
    width: 100%;
    height: 716px;
}
.backgroundcontact{
    background: url(../Images/u940.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}
.title_get_started{
    font-family: 'Calibri';
    font-size: 48px;
    color: #FFFFFF;
}
.contact_description{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
#image_social{
    width: 38px;
    height: 38px;
    margin-left: -15px;
}

.icons_social_media{
    padding-top: 5%;
}
.contact-btn-learn-more{
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 1);
}
.contact-btn-learn-more:hover{
    color: #FFFFFF;;
}
.desc_contact{
    padding-left: 5%;
}
.col-social{
    margin-left: 13%;
}
.form_contact{
    margin-top: 5%;
    padding-left: 5%;
}
label {
        font-size: 16px;
    }
     .wpcf7 textarea {
        border: 1px solid black;
        border-radius: 8px;
        height: 130px;
        width: 100%;
        font-size: 17px;
        padding: 10px;
    }
     .wpcf7 input[type="text"] {
        border: 1px solid black;
        border-radius: 8px;
        height: 50px;
        width: 100%;
        padding: 10px;
    }
    .wpcf7 input[type="submit"] {
        border: 1px solid rgb(12, 12, 12);
        border-radius: 8px;
        height: 50px;
        width: 100%;
        background-color: #052629e0;
        color: white;
        font-family: 'Arial Bold', 'Arial';
        font-style: normal;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }
@media only screen and (max-width: 600px) {
    .backgroundcontact {
        width: 100%;
        height: auto;
    }
    .col-social{
        padding-left: 35px;
        margin-top: 5%;
    }
    .form_contact{
        margin-top: 10%;
    }
    .desc_contact{
        margin-top: 8%;
    }
    .title_get_started {
        font-family: 'Calibri';
        font-size: 25px;
        color: #FFFFFF;
    }
    .contact_description {
        font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
        font-weight: 600;
        font-style: normal;
        font-size: 13px;
        color: #FFFFFF;
    }
    .contact_background {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
        url(../Images/u205.png);
        background-size: cover;
        width: 100%;
        height: 21%;
    }
    .main-contact{
        display: none;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1020px){
    .main-contact{
        display: none;
    }
    .contact_background {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
        url(../Images/u205.png);
        background-size: cover;
        width: 100%;
        height: 28%;
    }
    .backgroundcontact{
        background: url(../Images/home/u94011.jpg);
        background-size: cover;
        width: 100%;
        height: 515px;
    }
    #image_social {
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .col-social{
        margin-top: 5%;
        margin-left: 18%;
    }
    .backgroundcontact {
        background: url(../Images/u940.jpg);
        background-size: cover;
        width: 100%;
        height: 505px;
    }
}
