.title-customer{
    font-family: 'Calibri';
    font-size: 48px;
    color: #FFFFFF;
}
.img-customerbackground{
    background-image: url(../Images/customer.png);
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}
#img-homepandora{
    width: 112px;
}
.desc_customers{
    padding-left:5%;
    /* margin-top: 5%; */
}
.customer-learn-more-button{
    width: 140px;
    height: 40px;
    background-color: rgba(32, 54, 54, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    margin-top: 50px;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}
.respone-content{
    display: none;
}
.row-heading-images{
    width: 90%;
    margin-left: 5%;
}
#img-homelv{
    width: 35px;
    height: 43px;
    margin-top: -10px;
}
#img-homegucci{
    width: 112px;
}
#img-homeloreal{
    width: 120px;
}
.row-partner-image{
    padding-left: 13%;
    padding-bottom: 5%;
    margin-top: 50px;
}
.row-partner-image img{
    margin-left: 5px;
}
.row-partner-image img:first-child{
    margin-left: 0;
}
.col-customer-desc{
    padding-left: 5%;
}
/*START SUN STYLE CSS OF CUSTOMER PAGE*/
.rci-customer-description{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 2;
}

.row-logo-tile{
    margin-top: 10%;
}
.row-case-study{
    margin-top: 10%;
    margin-bottom: 5%;
}
.banner_image{
    margin-left: 5%;
}

.row-case-study .products, .items{
    margin-left: 3%;
}
.maintitle-customer{
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}
.text-customer-description{
    font-family: 'Calibri';
    font-size: 17px;
    color: #666666;
    text-align: center;
}
#img_loreal_cus{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
#img_kering_cus{
    width: 100%;
    height: auto;
}
#img_lvmh_cus{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
#img_pandora_cus{
    width: 100%;
    height: auto;
    margin-top: 6px;
}
#image-group{
    width: 100%;
}
.container-image-group{
    text-align: center;
    width: 100%;
}


.customer_border{
    left: 0px;
    top: 0px;
    width: 86px;
    height: 86px;
    padding: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 0px;
    box-shadow: 5px 5px 5px rgba(153, 153, 153);
    margin-left: 6px;
    margin-top: 10px;
}
#casestudy_pandora{
    width: 90%;
    height: 253px;
    margin-top: -20%;
}
#casestudy_loreal {
    width: 90%;
    height: 52px;
    margin-top: 35px;
}
#casestudy_innisfree {
    width: 100%;
    height: 186px;
    margin-top: -40px;
}
#casestudy_celine{
    width: 80%;
    height: 140px;
}
#casestudy_gucci{
    width: 108px;
    height: 110px;
    margin-top: 6%;
}
#casestudy_fendi{
    width: 135px;
    height: 82px;
    margin-top: 10%;
}

.border_pandora{
    position: relative;
    margin-top: 3%;
    width: 30%;
    height: auto;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 0px;
    box-shadow: none; 
    margin-right: 2%;
    text-align: center;
    padding-bottom: 3%;
}

.background_pandora{
    margin-top: 5%;
    width: 100%;
    background-color: white;
    height: 140px;
}
.titleof-casestudy{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 18px;
}
.descriptionof-casestudy{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
}
.btn-read-full{
    margin-top: 10%;
    background-color: black;
    width: 42%;
    height: 31px;
    font-size: 10px;
}
.btn-read-full:hover{
    color: #ffffff;
}
.anchor-read-full{
    color: #ffffff;
    font-size: 10px;
}
@media only screen and (width: 320px){
    .customer_border {
        left: 0px;
        top: 0px;
        width: 125px;
        height: 125px;
        padding: 20px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        border-radius: 0px;
        box-shadow: 5px 5px 5px rgba(153, 153, 153);
        margin-left: 4px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px){
    .desc_customers{
        margin-top: 30%;
    }
    .rcigs-page .col-search-menu {
        float: right;
        margin-top: -107%;
        padding-right: 0px;
    }
    .customer-learn-more-button {
        width: 140px;
        height: 40px;
        background-color: rgba(32, 54, 54, 1);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(121, 121, 121, 1);
        border-radius: 5px;
        margin-top: -28px;
        font-weight: 700;
        font-style: normal;
        color: #FFFFFF;
    }
    .row-partner-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        padding-bottom: 5%;
    }
    #img-homepandora {
        width: 100%;
    }
    #img-homelv{
        width: 40%;
    }
    #img-homegucci, #img-homeloreal{
        width: 100%;
        margin-top: 10%;
    }
    .banner_image{
        margin-left: 0%;
    }

    #img_loreal_cus, #img_kering_cus, 
    #img_lvmh_cus, #img_pandora_cus {
        width: 100%;
        height: auto;
    }
    .border_pandora {
        position: relative;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: auto;
        background: inherit;
        background-color: rgba(242, 242, 242, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        border-radius: 0px;
        box-shadow: none;
        margin-right: 2%;
        text-align: center;
        padding-bottom: 3%;
    }
    #casestudy_pandora {
            width: 85%;
            height: 253px;
            margin-top: -20%;
        }
    .customer_border{
        left: 0px;
        top: 0px;
        width: 31%;
        height: 15%;
        padding: 20px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        border-radius: 0px;
        box-shadow: 5px 5px 5px rgba(153, 153, 153);
        margin-left: 4px;
        margin-top: 10px;
    }
    .title-customer {
        font-family: 'Calibri';
        font-size: 30px;
        color: #FFFFFF;
    }
    .main-customer{
        display: none;
    }
    .img-customerbackground {
        background-image: url(../Images/customer.png);
        width: 100%;
        height: 25%;
        background-size: 100% 100%;
    }

    .respone-content, .outer-heading-company, .outer-heading-services, .outer-hero, .outter-text-carousel {
        display: block;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        padding-bottom: 30px;
        color: #fff;
        background: linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392));
    }

}
@media only screen and (min-width: 768px) and (max-width: 1020px){
    .btn-read-full{
        margin-top: 10%;
        background-color: black;
        width: 63%;
        height: 31px;
        font-size: 10px;
    }
    .row-partner-image{
        padding-left: 2%;
        padding-bottom: 5%;
    }
    
    .customer_border {
        left: 0px;
        top: 0px;
        width: 108px;
        height: 108px;
        padding: 20px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        border-radius: 0px;
        box-shadow: 5px 5px 5px rgba(153, 153, 153);
        margin-left: 6px;
        margin-top: 10px;
    }
    .main-customer{
        display: none;
    }
    .img-customerbackground {
        background-image: url(../Images/customer.png);
        width: 100%;
        height: 35%;
        background-size: 100% 100%;
    }
    
    .respone-content, .outer-heading-company, .outer-heading-services, .outer-hero, .outter-text-carousel {
        display: block;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        padding-bottom: 30px;
        color: #fff;
        background: linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392));
    }

}
    
@media only screen and (min-width: 992px) and (max-width: 1370px){
   .customer_border{
        left: 0px;
        top: 0px;
        width: 69px;
        height: 69px;
        padding: 20px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        border-radius: 0px;
        box-shadow: 5px 5px 5px rgba(153, 153, 153);
        margin-left: 6px;
        margin-top: 10px;
    }
    .desc_customers, 
    .desc_contact, 
    .col-global-service,
    .col-social{
        padding-left: 0 !important;
    }
    .row-partner-image{
        padding-left: 8%;
    }
   
}

@media only screen and (min-width: 1281px){
    .img-customerbackground{
        height: 716px ;
    }
}




