.img_menu
{
    background: url(../Images/css-sprites.gif) -1695px -118px;
    display: block;
    width: 25px;
    height: 5px;
	border: none;
	margin-top: 2px;
}
.img_menu:first-child{
	margin-top: 10px;
}
.blackground {
	background-color: rgba(16, 24, 29, 0.768627450980392);
}
.rcigs-page {
	height: auto;
}

.rcigs-page.row {
	margin-left: 0;
	margin-right: 0;
}

.row-head {
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	margin-left: 0;
}
.col-logo{
	padding-left: 0;
}
.col-newscenter{
	padding-right: 0;
}
.row-menu {
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	margin-top: 8%;
	width: 100%;
}

.main-menu {
	position: absolute;
	z-index: 99999;
}

.col-newscenter {
	padding-left: 0;
}

.list-image {
	margin-left: 5px;
}

.image_newcenter_block {
	margin-left: 5px;
	width: 37px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.768627450980392);
	padding-right: 1px;
	padding-top: 1px;
}

.title_newscenter {
	font-family: 'Evogria Bold', 'Evogria';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}

.image_newcenter {
	width: 34px;
	height: 34px;
}

.rcigs-page article.post {
	border-bottom: 2px solid #bbb;
}

.rcigs-page .img_backheader {
	background: linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392)), url(../Images/u39.jpg);
	width: 100%;
	height: 500px;
	background-size: cover;
}

.div_rci_logo {
	width: 165px;
	height: 75px;
	background-color: #C7C9CA;
	padding-top: 5px;
}

.rci_global_logo {
	width: 100%;
	position: relative;
	left: 10px;
	top: 0px;
	width: 140px;
	height: 50px;
	float: center;
}

.logo_title {
	color: #1E1E1E;
	font-family: 'Calibri';
	font-size: 10px;
}

.rcigs-page .col-search-menu {
	padding-left: 0px;
	float: right;
	padding-right: 60px;
	width: 100%;
}

.rcigs-page .main-description {
	margin: 0;
	padding-top: 10%;
}

.rcigs-page .rci-global-heading {
	font-family: 'Calibri';
	font-size: 48px;
	color: #FFFFFF;
}

.rcigs-page .rci-global-description {
	font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
	font-weight: 600;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

.rcigs-page #search-box {
	background-color: #C7C9CA;
	width: 177px;
	height: 29px;
	left: 0;
	top: 10px;
	background-image: url(../Images/home/u928.png);
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 6px;
	border-style: none;
	display: block;
	padding-left: 10px;
	
}
.rcigs-page #search-box:focus{
	outline: none;
}

.rcigs-page .search-box {
	position: relative;
	z-index: 2;
}

.rcigs-page .rci-background,
.rsi-background {
	width: 100%;
	height: 216px;
	padding-top: 70px;
	background-repeat: no-repeat;
	background-color: #BABABA;
}

.rcigs-page .rci-background {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/home/u50.png);
	background-size: 100%;
}

.rcigs-page .rsi-background {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/home/u59.jpg);
	background-size: 100%;
}

.rcigs-page .title-rci {
	margin-right: 240px;
}

.rcigs-page .title-rsi {
	margin-right: 165px;
}

.rcigs-page .title-rci,
.title-rsi {
	color: #FFFFFF;
	font-family: 'Calibri';
	font-size: 16px;
}

.rcigs-page .rci-moto,
.rsi-moto {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #FFFFFF !important;
	font-size: 28px;
}

.btn-learn-more {
	width: 140px;
	height: 40px;
	background-color: rgba(32, 54, 54, 1);
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 121, 121, 1);
	border-radius: 5px;
	margin-top: 50px;
	color: white;
}

.btn-learn-more:hover {
	border-color: rgba(202, 158, 103, 1);
	color: rgba(202, 158, 103, 1);
}

.anchor-learn-more {
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	color: #FFFFFF;
	font-size: 13px;
}

.anchor-learn-more:hover {
	color: rgba(202, 158, 103, 1);
}

.col-rci,
.col-rsi {
	padding: 0;
}

.main-menu:hover {
	cursor: pointer;
}

.menu-background {
	transition-delay: 2s;
}

.hide {
	height: 0;
}

.menu-icon {
	display: block;
	float: left;
}

.img-menu-icon {
	width: 30px;
	height: 9px;
	display: block;
	margin-top: -2px;
}

.img-menu-icon:first-child {
	margin-top: 10px;
}

#title-menu {
	font-family: 'Calibri Bold', 'Calibri';
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	color: #FFFFFF;
	text-align: right;
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}

#menu-background {
	display: none;
	width: 177px;
	height: 275px;
	background-image: url(../Images/home/u905.png);
	background-position-y: 45px;
	background-repeat: no-repeat;
	background-size: 177px 238px;
	position: relative;
}

.menu-icon-title {
	display: block;
}

#menu-item-display {
	padding-top: 60px;
	display: none;
}

.site-header .main-menu-item li {
	list-style: none;
	display: block;
	white-space: nowrap;
	margin-top: 19px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-right: -95px;
}

.site-header .main-menu-item li:first-child {
	margin-top: 0px;
}

.site-header li {
	font-family: 'Calibri Bold', 'Calibri';
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: #3B5557;
	text-align: right
}

.site-header .main-menu-item a:hover {
	text-decoration: none;
}

.newcenter-wrap:hover {
	cursor: pointer;
}


/* Panel Solution on Hover */

#image-rci-hover,
#image-rsi-hover {
	width: 216px;
	height: 84px;
	margin-top: 75px;
}

.rci-background-hover,
.rsi-background-hover {
	background-color: rgba(255, 255, 255, 0.886274509803922);
	margin-top: -216px;
	width: 50%;
	height: 216px;
	padding: 0;
}

.pseudoelement-parent-solution {
	position: relative;
}

.col-rci-hover,
.col-rsi-hover {
	display: none;
	padding: 0;
}

.col-global-service {
	padding-left: 5%;
}


/* News Center */

.col-back-home {
	margin-top: 30px;
	padding-left: 10%;
}

.col-back-home:hover {
	cursor: pointer;
}

.title_backhome {
	font-family: 'Calibri Bold', 'Calibri';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #000000;
}

.newscenter {
	height: 716px;
}

.newscenter .service-title {
	font-family: 'Calibri Bold', 'Calibri';
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
}

.newscenter .map-background,
.pen-background,
.light-background {
	width: 97%;
	height: 100%;
}

.newscenter .row-newscenter-panel {
	margin: -20px 0 0 0;
}

.newscenter .map-background {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/home/u9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.newscenter .pen-background {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/home/u5.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -3%;
}

.newscenter .light-background {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/home/u11.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -6%;
}

.newscenter .col-lg-3 {
	padding: 0;
}

.newscenter .inductry {
	padding-top: 75%;
}

.newscenter .case-study {
	padding-top: 40%;
}

.newscenter .insight-article {
	padding-top: 100%;
}

.newscenter-heading {
	text-align: right;
	padding-right: 20%;
	padding-top: 20%;
	font-family: 'Evogria Bold', 'Evogria';
	font-weight: 700;
	padding-bottom: 34%;
}

.row-newscenter-panel {
	margin-top: -20px;
}

.col-rgs-heading {
	background-color: #FCFCFC;
	margin-top: 1%;
	margin-left: -2%;
	width: 27%;
	height: 100%;
}

#title-r {
	font-size: 72px;
	color: #666666;
}

#title-gs {
	line-height: 3px;
	color: #666666;
	font-size: 48px;
}

#title-nc {
	line-height: 3px;
	font-size: 72px;
	color: #3B5557;
	line-height: 85px;
}

.col-rgs-heading {
	padding: 0 35px 0 0 !important;
}

.site-footer {
	z-index: 2;
	opacity: 1;
	position: relative;
}

.page0,
.page2,
.page3,
.page4,
.page5,
.page6 {
	height: auto !important;
	animation-duration: .7s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	z-index: 1;
	opacity: 1;
	position: relative;
}
.col-menu{
	padding: 0 !important;
}
.news-menu-align{
	padding-right: 30px;
}
/*add id on reginal*/

#img_regional {
	width: 100%;
	margin-top: 4%;
}

@media only screen and (min-width: 1500px) {
	.col-back-home {
		padding-left: 100px;
	}
}


/**custom responsive */


/* / 
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
/ */

@media (min-width: 1281px) {
	.page0,
	.page2,
	.page3,
	.page4,
	.page5,
	.page6 {
		height: 686px !important;
		animation-duration: .7s;
		animation-delay: 0s;
		animation-iteration-count: 1;
		z-index: 1;
		opacity: 1;
		position: relative;
	}
}

/* / 
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
/ */

@media (min-width: 1021px) and (max-width: 1280px) {
	.newscenter .map-background, .pen-background, .light-background{
		width: 100%;
		height: 75%;
	}
	.newscenter .light-background,
	.newscenter .pen-background
	{
		margin-left: 0;
		margin-top: -20px;
	}
	.newscenter{
		height: auto;
	}
	.col-rgs-heading{
		width: 50%;
		height: 75%;
		margin-left: 0;
		margin-top: 0;
	}
	.mobile-heading{
		display: block !important;
	}
	.desktop-heading{
		display: none;
	}
	/* ======================== */
	.rcigs-page .title-rsi,
	.rcigs-page .rci-moto,
	.rcigs-page .rsi-moto 
	 {
		margin: auto;
	}
	.rcigs-page .title-rci,
	.rcigs-page .title-rsi {
		font-size: 27px;
		margin: auto;
		margin-bottom: 5px;
	}
    #title-menu{
        display: none;
    }
    #search-box{
        display: none !important;
    }
    .col-newscenter{
        padding-right: 7%;
    }
    .col-logo{
        padding-left: 0;
    }
    .row-head{
        margin-right: 0;
        margin-left: 0;
    }
    .newcenter-wrap{
        padding-right: 0;
	}
	.page0, .page0, .page3 , .page4, .page5, .page6{
		z-index: 1;
	}
	.menu-icon{
		position: relative;
	}
	.main-menu{
		margin-left: -5%;
	}
	div#menu-background{
		margin-left: -60%;
	}
}


/* / 
 ##Device = Tablets, Ipads (portrait)
 ##Screen = B/w 768px to 1024px
/ */

@media (min-width: 768px) and (max-width: 1020px) {
	.newscenter .map-background,
	.pen-background,
	.light-background {
		width: 100%;
		margin-left: 0 !important;
	}
	.desktop-heading {
		display: none;
	}
	.mobile-heading {
		display: block !important;
	}
	.site-footer {
		position: unset;
	}
	.footer-content {
		background-color: unset;
	}
	.newscenter .pen-background,
	.light-background {
		margin-top: -20px;
	}
	.rci-background-hover {
		width: 100%;
		margin-top: -432px;
	}
	.rsi-background-hover {
		width: 100%;
		margin-left: 0 !important;
	}
	.heading {
		width: 100%;
    }
    .row-head{
        background: darkslategrey;
        position: fixed;
        padding-top: 0;
        margin-left: 0;
    }
    .col-logo{
        padding-left: 0;
    }
	.search-box,
	#title-menu {
		display: none;
	}
    .rcigs-page 
    .title-rci,
    .title-rsi 
	 {
        font-size: 25px;
        margin: auto;
    }
    .rcigs-page .title-rsi{
        margin-right: 0;
    }
    .newcenter-wrap{
        padding-right: 0;
    }
    .col-newscenter{
        padding-right: 0;
    }
    .menu-icon-title {
        position: fixed;
        float: right;
		margin-top: -6%;
		margin-left: 4%;
    }
    .main-menu{
        position: fixed;
    }
    .menu-icon{
        margin-left: 0;
        margin-top: 0;
    }
    .site-footer{
        z-index: 999999;
    }
    /* .page0, .page2, .page3, .page4, .page5, .page6{
        z-index: 1;
    } */
    .rcigs-page .img_backheader{
        height: auto;
        padding-bottom: 5%;
    }
    div#menu-background{
		margin-left: -65%;
		margin-top: -30%;
    }
}
/* / 
 ##Device = Tablets, Ipads (landscape)
 ##Screen = B/w 768px to 1024px
/ */

@media (min-width: 770px) and (max-width: 1026px) {
	
   
}
/* / 
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
/ */

@media (min-width: 320px) and (max-width: 480px) {
	/* Row head and menu  */
	.heading {
		background-color: darkslategrey;
		height: 100px;
	}
	#menu-background {
		background-image: none;
		background-color: whitesmoke;
		width: 109%;
		height: auto;
		/* border: 1px solid darkgrey; */
		margin-top: 13%;
	}
	.site-header .main-menu-item li {
		text-align: left;
		display: block;
	}
	.rcigs-page .search-box {
		display: none;
	}
	.site-header .main-menu-item li {
		margin-right: 20px;
		;
	}
	.menu-icon {
		float: right;
        margin-top: 4%;
	}
	.menu {
		padding-right: 75%;
		z-index: 9999;
	}
	.site-header .ul {
		padding-top: 160px;
	}
	.row-head {
		padding-top: 0;
		display: block;
	}
	.rcigs-page .row-rci-global {
		padding-top: 0;
	}
	.rcigs-page .rci-global-heading {
		font-size: 30px;
	}
	.col-global-service {
		margin-top: 5%;
	}
	#title-menu {
		display: none;
	}
	.main-menu {
		position: absolute;
		margin-top: 5%;
		width: 100%;
	}
	#menu-item-display {
		margin-top: 10%;
		padding-top: 15px;
	}
	.newcenter-wrap {
		padding-right: 0;
	}
	.col-menu {
		padding-left: 0;
	}
	.rcigs-page .main-description {
		margin: 0;
		padding-top: 0;
	}
	.rcigs-page .img_backheader {
		height: auto;
		padding-bottom: 5%;
	}
	.rci-background-hover {
		width: 100%;
		margin-top: -432px;
	}
	.rsi-background-hover {
		width: 100%;
		margin-top: -216px;
		margin-left: 0 !important;
	}
	.rcigs-page .rci-background {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.rcigs-page .title-rci {
		margin-right: unset;
	}
	.rcigs-page .title-rsi {
		margin-right: unset;
	}
	.btn-learn-more {
		margin-top: 15px;
	}
	/* News Center */
	.newscenter .map-background,
	.pen-background,
	.light-background {
		width: 100%;
	}
	.newscenter .light-background,
	.newscenter .pen-background {
		margin-left: 0;
	}
	.col-rgs-heading {
		width: 100%;
	}
	.desktop-heading {
		display: none;
	}
	.mobile-heading {
		display: block !important;
	}
	.rcigs-page .rci-moto,
	.rsi-moto {
		font-size: 20px;
	}
    /* Row head and menu  */
    .col-logo{
        padding-left: 0;
    }
    .col-newscenter{
        padding-right: 0;
    }
    .row-head{
        padding-top: 0;
        display: block;
        margin-left: 0;
        position: fixed;
        background-color: darkslategray;
    }
    .heading{
        height: 75px;
        background-color: darkslategrey;
        left: 0;
        top: 0;
        z-index: -1;
        background-position: center;
    }
    #menu-background{
        background-image: none;
        background-color: whitesmoke;
		height: auto;
		width: 100%;
		margin-top: 13%;
		margin-left: -60%;
		margin-left: -100%;
    }
    .site-header .main-menu-item li{
        text-align: left;
        display: block;
    }
    .rcigs-page .search-box{
       display: none;
    }
    .site-header .main-menu-item li{
        margin-right: 20px;;
    }
    .menu-icon{
        float: right;
		position: fixed;
		margin-left: -10%;
		margin-top: -1;
    }
    .menu{
        padding-right: 75%;
        z-index: 9999;
    }
    .site-header .ul{
        padding-top: 160px;
    }
    
    .rcigs-page .row-rci-global{
        padding-top: 0;
    }
    .rcigs-page .rci-global-heading{
        font-size: 32px;
    }
    .col-global-service{
        margin-top: 5%;
    }
    #title-menu{
        display: none;
    }
    .main-menu{
        position: fixed;
        margin-top: -3%;
        width: 100%;
    }
    #menu-item-display{
        margin-top: 10%;
        padding-top: 15px;
    }
    .newcenter-wrap{
        padding-right: 0;
    }
    .col-menu{
        padding-left: 0;
    }
    .rcigs-page .main-description {
        margin: 0;
        padding-top: 0;
    }
    .rcigs-page .img_backheader{
        height: auto;
        padding-bottom: 5%;
            }
    .rci-background-hover{
        width: 100%;
        margin-top: -432px;
    }
    .rsi-background-hover{
        width: 100%;
        margin-top: -216px;
        margin-left: 0 !important;
    }
    .rcigs-page .rci-background{
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .rcigs-page .title-rci{
        margin-right: unset;
    }
    .rcigs-page .title-rsi{
        margin-right: unset;
    }
    .btn-learn-more{
        margin-top: 15px;
    }
    /* News Center */
    .newscenter 
 .map-background, .pen-background, .light-background{
     width: 100%;
 }
 .newscenter .light-background, 
 .newscenter .pen-background
 {
     margin-left: 0;
 }
 .col-rgs-heading{
     width: 100%;
 }
 .desktop-heading{
     display: none;
 }
 .mobile-heading{
     display: block !important;
 }
}