.resource_background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(../Images/u171.jpg);
    background-size: cover;
    width: 100%;
    height: 710px;
}
.resource-btn-learn-more{
    width: 140px;
    height: 40px;
    background-color: rgba(32, 54, 54, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    margin-top: 50px;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}
.resource-btn-lear-more{
    border-color: rgba(121, 121, 121, 1);
    color: #FFFFFF;
}
.resource_heading{
    font-family: 'Calibri';
    font-size: 48px;
    color: #FFFFFF;
}
.col-resources-description{
    padding-left: 5%;
}
.col-bottom-image{
    margin-left: 7%;
}
.resource_description{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 2;
}
.resource_image_border{
    background-color: rgba(255, 255, 255, 1);
    width: 124px;
    height: 65px;
    margin-right: 10px;
    border-radius: 4px;
}
.desc_resources{
    margin-top: 10%;
}
.sbupage_resources{
    margin-top: 5%;
}
#title-resource{
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}
#group_imglogo{
    width: 100%;
    margin-top: 50%;
}
#text-resource-partner{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 2;
    margin-top: 5%;
}
.border_resources{
    width: 24%;
    margin-right: 0%;
    height: 340px;
    background-color: #41444861;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    margin: 4px
}

/*Description hover of panel logo*/
.desc_panels{
    background-color: rgba(16, 16, 16, 0.81);
}
#desc-resource-panel{
    font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    line-height: 2;
    margin-top: 2%;
}
#saleforceDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 4px;
}
#magentoDesc, #omsproDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 279px;
}
#retailproDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 553px;
}

#oracleDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 4px;
}
#ivendDesc, #venstarDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 279px;
}
#accentureDesc{
    display: none;
    cursor: pointer;
    margin-top: -344px;
    height: 340px;
    width: 540px;
    margin-left: 553px;
}

#group_imgdescLeft{
    width: 20%;
    margin-top: 5%;
    margin-right: 80%;
}
#group_imgdescRight{
    width: 20%;
    margin-top: 5%;
    margin-left: 80%;
}

@media only screen and (max-width: 600px){
    .resource_background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(../Images/u171.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    }
    .resource-btn-learn-more{
        width: 140px;
        height: 40px;
        background-color: rgba(32, 54, 54, 1);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(121, 121, 121, 1);
        border-radius: 5px;
        margin-top: 50px;
        font-weight: 700;
        font-style: normal;
        color: #FFFFFF;
    }
    .resource-btn-lear-more{
        border-color: rgba(121, 121, 121, 1);
        color: #FFFFFF;
    }
    .resource_heading{
        font-family: 'Calibri';
        font-size: 48px;
        color: #FFFFFF;
    }
    
    .resource_description{
        font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 2;
    }
    .resource_image_border{
        background-color: rgba(255, 255, 255, 1);
        width: 46%;
        height: 65px;
        margin-right: 0px;
        border-radius: 4px;
        margin: 5px;
        margin-bottom: 5%;
    }
    .col-bottom-image{
        margin-top: 5%;
    }
    .desc_resources{
        margin-top: 30%;
        margin-left: 5%;
    }
    .sbupage_resources{
        margin-top: 5%;
    }
    #title-resource{
        font-family: 'Calibri Bold', 'Calibri';
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        text-align: center;
    }
    #group_imglogo{
        width: 100%;
        margin-top: 25%;
    }
    #text-resource-partner{
        font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #666666;
        text-align: center;
        line-height: 2;
        margin-top: 5%;
    }
    .border_resources{
        width: 100%;
        margin-right: 0%;
        height: 340px;
        background-color: #41444861;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        margin-top: 15px;
    }

    /*Description hover of panel logo*/
    .desc_panels{
        background-color: rgba(16, 16, 16, 0.81);
    }
    #desc-resource-panel{
        font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        color: #ffffff;
        text-align: left;
        line-height: 2;
        margin-top: 2%;
    }
    #saleforceDesc{
        display: none;
        cursor: pointer;
        margin-top: -451%;
        height: 340px;
        width: 100%;
    }
    #magentoDesc{
        width: 100%;
        height: 340px;
        display: none;
        cursor: pointer;
        margin-top: -337%;
        margin-left: 1%;
    }
    #omsproDesc{
        width: 100%;
        height: 340px;
        display: none;
        cursor: pointer;
        margin-top: -223%;
        margin-left: 1%;
    }
    #retailproDesc{
        height: 340px;
        width: 100%;
        margin-left: 1%;
        margin-top: -109%;
        display: none;
        cursor: pointer;
    }
    #oracleDesc{
        display: none;
        cursor: pointer;
        margin-top: -451%;
        height: 340px;
        width: 100%;
    }
    #ivendDesc{
        display: none;
        cursor: pointer;
        margin-top: -337%;
        height: 340px;
        width: 100%;
        margin-left: 1%;
    }
    #venstarDesc{
        display: none;
        cursor: pointer;
        margin-top: -223%;
        height: 340px;
        width: 100%;
        margin-left: 1%;

    }
    #accentureDesc{
        display: none;
        cursor: pointer;
        margin-top: -109%;
        height: 340px;
        width: 100%;
        margin-left: 1%;
    }
    #group_imgdescLeft{
        width: 20%;
        margin-top: 5%;
        margin-right: 80%;
    }
    #group_imgdescRight{
        width: 20%;
        margin-top: 5%;
        margin-left: 80%;
    }
    .resource_heading {
        font-family: 'Calibri';
        font-size: 30px;
        color: #FFFFFF;
    }
    .main-resources{
        display: none;
    }
    .resource_background {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
     url(../Images/u171.jpg);
        background-size: cover;
        width: 100%;
        height: 21%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1020px){
    .resource_image_border {
        width: 25%;
        height: 65px;
        margin-right: 10px;
        border-radius: 4px;
        margin-top: 2%;
        background-color: rgba(255, 255, 255, 1);
    }
    .main-resources{
        display: none;
    }
    .resource_background {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
     url(../Images/u171.jpg);
        background-size: cover;
        width: 100%;
        height: 28%;
    }

    .border_resources {
        width: 23%;
        margin-right: 0%;
        height: 200px;
        background-color: #41444861;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        margin: 6px;
    }
    
    /* hover panel */
    #saleforceDesc, #oracleDesc {
        display: none;
        cursor: pointer;
        margin-top: -30%;
        height: 201px;
        width: 23%;
        margin-left: 6px;
    }
    #magentoDesc, #ivendDesc {
        display: none;
        cursor: pointer;
        margin-top: -30%;
        height: 201px;
        width: 23%;
        margin-left: 176px;
    }
    #omsproDesc, #venstarDesc {
        display: none;
        cursor: pointer;
        margin-top: -30%;
        height: 201px;
        width: 23%;
        margin-left: 346px;
    }
    #retailproDesc, #accentureDesc {
        display: none;
        cursor: pointer;
        margin-top: -30%;
        height: 201px;
        width: 23%;
        margin-left: 518px;
    }

    #desc-resource-panel {
        font-family: 'Adobe Fan Heiti Std B', 'Adobe Fan Heiti Std';
        font-weight: 600;
        font-style: normal;
        font-size: 8px;
        color: #ffffff;
        text-align: left;
        margin-top: 2%;
    }
}

@media only screen and (min-width: 1024px ) and (max-width: 1366px){
    .row-bottom-image{
        margin-top: 5% !important;
    }
    .col-resources-description {
        padding-left: 0%;
    }
    .resource_image_border {
        background-color: rgba(255, 255, 255, 1);
        height: 65px;
        margin-right: 10px;
        border-radius: 4px;
        margin-top: 2%;
    }
    .border_resources {
        width: 23%;
        margin-right: 0%;
        height: 270px;
        background-color: #41444861;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        margin: 8px;
    }

    #saleforceDesc, #oracleDesc {
        display: none;
        cursor: pointer;
        margin-top: -278px;
        height: 270px;
        width: 23%;
        margin-left: 8px;
    }
    #magentoDesc, #ivendDesc {
        display: none;
        cursor: pointer;
        margin-top: -278px;
        height: 270px;
        width: 23%;
        margin-left: 233px;
    }
    #omsproDesc, #venstarDesc {
        display: none;
        cursor: pointer;
        margin-top: -278px;
        height: 270px;
        width: 23%;
        margin-left: 459px;
    }
    #retailproDesc, #accentureDesc {
        display: none;
        cursor: pointer;
        margin-top: -278px;
        height: 270px;
        width: 23%;
        margin-left: 684px;
    }
}
@media only screen and (min-width: 1200px){
    .resource_image_border {
        background-color: rgba(255, 255, 255, 1);
        height: 65px;
        margin-right: 10px;
        border-radius: 4px;
        margin-top: 2%;
    }
    .col-bottom-image{
        padding-top: 2%;
    }
    .col-social{
        padding-top: 2%;
    }
}



