#background_rsi_solution {
    display: none;
}
.rsi-learn-more-button{
    background-color: rgba(202, 157, 103, 1);
    border-color: rgba(255, 255, 255, 1);
    margin-top: 11px;
}
#img-rci-commerce{
    width: 38px;
    height: 38px;
}
#img-ordermanagement{
    width: 38px;
    height: 38px;
}

#img-pointofsale{
    width: 42px;
    height: 42px;
}
#img-rsi-detail{
    width: 42px;
    height: 42px;
}
.rsi-image-border{
    background-image: url(../Images/u129.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 65px;
    height: 65px;
    display: inline-block;
    padding-top: 13px;
}
.rsi-learn-more-button:hover{
    border-color:white;
    color: white;
}
.col-rci-description{
    padding-left: 0%;
    margin-top: 8%;
}
.img_rsibackconsulting
{
    background:linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392)), 
    url(../Images/u115.jpg);
	width: 100%;
	height:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.col-rsi-img-group{
    padding-left: 0;
}
.row-ecommerce{
    margin-bottom: 20px;
}
.col-image-with-title-rsi{
    padding-top: 180px;
}

@media only screen and (min-width: 1500px){
    .rcigs-page .col-menu{
        padding-right: 0;
    }
    .col-rsi-img-group{
        margin-top: -7px;
    }
    .col-image-with-title-rsi{
        padding-top: 160px;
    }
    .img_rsibackconsulting{
        height: 686px;
    }
    #img-rsiconsulting{
        margin-top: -31px;
    }
    .col-image-with-title-rsi {
        padding-top: 10%;
    }

  }
  @media (min-width: 1281px) and (max-width: 1499px){
    .col-rsi-img-group{
       padding-top: 16px;
    }
    .img_rsibackconsulting{
        height: 686px;
    }
    #img-rsiconsulting{
        margin-top: 16% !important;
    }
    .col-image-with-title-rsi {
        padding-top: 16%;
    }
  }

  /**custom responsive **/
   /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  @media (min-width: 1281px) {
    .col-rci-description{
        padding-left: 5%;
        margin-top: -2%;
    }
    #img-rsiconsulting {
        width: 100%;
        height: auto;
        z-index: -1;
        margin-top: -31px;
        /* margin-top: 8%; */
    }
    
  }
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1023px) and (max-width: 1280px) {
    .img_rsibackconsulting
    {
        height:716px;
    }
    #img-rsiconsulting {
        width: 97%;
        height: auto;
        margin-left: 0;
        z-index: -1;
        margin-top: 11%;
    }
    .img_point{
        margin-bottom: 2%;
    }
    .col-image-with-title-rsi{
        padding-top: 15px;;
    }
    /* .col-rsi-img-group {
        margin-top: 5%;
    }
      #img-rsiconsulting {
          width: 97%;
          height: auto;
          margin-left: 0;
          z-index: -1;
          margin-top: 12%;
      }
      .col-image-with-title-rsi {
          padding-top: 0%;
      }
      .col-rci-description {
        padding-left: 0%;
        margin-top: -3%;
        }
        .img_point{
            margin-bottom: 4%;
        }
        .image-on-rsi{
            display: block !important;
        }
        .img_rsibackconsulting{
            background-image: none !important;
            background-color: #073046 !important;
        }
        #image-ppl-meeting{
            width: 100%;
            height: auto;
            margin-top: 9%;
            filter: brightness(50%);
        }
        .row-ecommerce{ 
            margin-bottom: 3%;
        } */
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1020px) {
    .col-rsi-img-group {
        margin-top: 5%;
    }
      #img-rsiconsulting {
          width: 97%;
          height: auto;
          margin-left: 0;
          z-index: -1;
          margin-top: 12%;
      }
      .col-image-with-title-rsi {
          padding-top: 0%;
      }
      .col-rci-description {
        padding-left: 0%;
        margin-top: -3%;
        }
        .img_point{
            margin-bottom: 4%;
        }
        .image-on-rsi{
            display: block !important;
        }
        .img_rsibackconsulting{
            background-image: none !important;
            background-color: #073046 !important;
        }
        #image-ppl-meeting{
            width: 100%;
            height: auto;
            margin-top: 9%;
            filter: brightness(50%);
        }
        .row-ecommerce{ 
            margin-bottom: 3%;
        }
  }
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }

  @media (max-width: 767px){
    .col-rsi-img-group {
        margin-top: 5%;
    }
    #img-rsiconsulting {
        width: 94%;
        height: auto;
        margin-left: 4%;
        z-index: -1;
    }
    .col-image-with-title-rsi {
        padding-top: 9%;
        margin-left: 3%;
    }
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .col-rsi-img-group {
        margin-top: 5%;
    }
    #img-rsiconsulting {
        width: 97%;
        height: auto;
        margin-left: 4%;
        z-index: -1;
    }
    #background_rsi_solution {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 4%;
    }
    .img_rsibackconsulting {
        background: linear-gradient( rgba(16, 24, 29, 0.768627450980392), rgba(16, 24, 29, 0.768627450980392));
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .rsi-learn-more-button {
        margin-left: 5%;
    }
    .img_point{
        margin-bottom: 4%;
    }
    .col-image-with-title-rsi{
        margin-left: 0;
        padding-left: 3%;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    .site-footer{
        z-index: 2;
    }
}